.App {
  background-color: #1c1e21;;
  text-align: center;
}

.App-header {
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

.App-main {
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

@media screen and (min-width: 1920px) {
  body {
     width:1900px;
     height: auto;
  }}

@media screen and (max-width: 1280px) {
   body {
      width:1260px;
      height: auto;
  }}

  @media screen and (max-width: 980px) {
    body {
       width:960px;
       height: auto;
   }}